section#about.section
      //- .back
      .container.content
            .section-header About Us

            h3.text-center.headline <strong><i>"12 years in the OOH Industry making our customers smile"</i></strong>

            .data
                  .row
                        .col-xs-12.col-md-6(style="padding-right: 20px")
                              br
                              p <strong>Satyam</strong> is a team of extraordinary people with immense experience in OOH media across a multitude of industries such as <strong>Telecom, Media, FMCG, Real Estates, Entertainment, IT, Consumer Durables</strong> and <strong>Non Durables.</strong>
                              br
                              br
                              p We aim at delivering  to the advertiser a comprehensive Outdoor and Retail Media Plan with strategic and lateral thinking based on a sound understanding of the outdoor market in India. 
                        .col-xs-12.col-md-6(style="padding-left: 20px")
                              //- h3.text-center <i>"How we do it?"</i>
                              
                              h4.list-head <strong>Stable and Dependable</strong>
                              .list-data
                                    p <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> An ideal platform for a one point contact to manage all the Out of Home Communication needs of a brand.
                                    p <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> A senior resource person handles each business to  300 + towns
                              
                              br

                              h4.list-head <strong>Competetive and Pioneering</strong>
                              .list-data
                                    p <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Competitive Pricing 
                                    p <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Access to the best products and technology available

                  br
                  br
                  .stats
                        .row
                              .col-xs-6.col-md-3.text-center
                                          span.count 4
                                          p Offices accross India
                              .col-xs-6.col-md-3.text-center
                                          span.count 40
                                          p People Workforce
                              .col-xs-6.col-md-3.text-center
                                          span.count 300
                                          span +
                                          p Destinations
                              .col-xs-6.col-md-3.text-center
                                          span.count 40
                                          span +
                                          p Partners
            