section#about
      .container
            .section-header About Us

            h3.text-center.headline <i>"12 years in the OOH Industry making our customers smile"</i>

            .data
                  p <strong>Satyam</strong> is a team of extraordinary people with immense experience in OOH media across a multitude of industries such as <strong>Telecom, Media, FMCG, Real Estates, Entertainment, IT, Consumer Durables</strong> and <strong>Non Durables</strong>.                    
                  p We aim at delivering  to the advertiser a comprehensive Outdoor and Retail Media Plan with strategic and lateral thinking based on a sound understanding of the outdoor market in India. 
            br
            h3.text-center.headline <i>"How we do it?"</i>
            .row
                  .col-xs-12.col-md-4
                        h4.list-head <strong>Accesible and Responsive</strong>
                        .list-data
                              p <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> 4 offices across India
                              p <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> 40 people workforce
                              p <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Working Partners in 300 + towns
                  .col-xs-12.col-md-4
                        h4.list-head <strong>Stable and Dependable</strong>
                        .list-data
                              p <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> An ideal platform for a one point contact to manage all the Out of Home Communication needs of a brand.
                              p <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> A senior resource person handles each business to ensure that you get maximum value for your money. 
                  .col-xs-12.col-md-4
                        h4.list-head <strong>Competetive and Pioneering</strong>
                        .list-data
                              p <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Competitive Pricing 
                              p <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Access to the best products and technology available