section#clients.section
      .container
            .section-header Our Partners

            .carousel.slide.carousel-fade(data-ride = "carousel" id = "clients-carousel" data-interval = "5000" data-pause = "hover")
                  .carousel-inner(role="listbox")
                        .item.active
                              .clients-grid.page1
                              
                                    .row.first
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/pacific-dehradun-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/pacific-tagore-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/da-milano-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/soliver-logo.png)")

                                    .row
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/chocon-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/rosso-brunello-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/flying-machine-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/elle-logo.png)")

                                    .row
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/guess-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/being-human-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/fcuk-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/clarks-inn-logo.png)")
                                    
                                    .row
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/momentz-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/mothers-pride-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/presidium-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/adiva-logo.png)")

                                    .row.last
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/frontier-bazar-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/versus-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/lee-cooper-logo.gif)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/gloria-jean-logo.png)")

                        .item
                              .clients-grid.page2
                                    .row.first
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/calvin-klein-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/uni-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/mamagoto-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/elvy-logo.jpg)")

                                    .row
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/tommy-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/ccd-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/philips-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/vlcc-logo.png)")

                                    .row
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/madame-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/nestle-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/cocoa-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/loreal-paris-logo.png)")
                                    
                                    .row
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/nautica-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/standard-chartered-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/reliance-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/garnier-logo.png)")

                                    .row.last
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/atlas-logo.jpg)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/estore-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/fuji-logo.png)")
                                          .col-xs-3
                                                .clientImg(style="background-image: url(../images/gas-logo.jpg)")

                  

                  
             
