section#intro.stretch
  video(autoplay, loop, muted, poster="../images/poster.jpg")
    source(src="../images/sebastian.mp4" type="video/mp4")
    source(src="../images/sebastian.webm" type="video/ogg")
  .overlay-color
  .overlay-pattern  
  .content 
    .company
      img.logo(src = "../images/logo.png")
      .brand <strong>Satyam Enterprises</strong>
      .tag-line Complete <strong>BRANDING</strong> Solution