.bottom-btns
      ul.nav-btns
        li 
          a.circle(href = "#intro")             
            span.text Intro
            .dot
        li 
          a.circle(href = "#history")
            span.text Our History
            .dot
        li 
          a.circle(href = "#about")
            span.text About Us
            .dot
        li 
          a.circle(href = "#client")
            span.text Clients
            .dot