section#products.section
    .container-fluid
        .row.main
            .col-xs-12.col-md-4.head-pane
                .content
                    .section-header Our Products
                    h4.tag <strong>THE BEST IN CLASS</strong>
                    h3.text Chose from our wide range of branding solutions to take your brand to the next level
            .col-xs-12.col-md-8.img-pane
                .container-fluid
                    .row.row1
                        .col-xs-6.col-md-4.text-center
                            .product(style = "background-image: url(../images/products/signboard.jpg)")
                                .wrapper
                                    .content
                                        .name <strong>SIGN BOARDS</strong>
                                        p.desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        .btn(onclick="openModal();currentSlide(1)") View Portfolio
                        .col-xs-6.col-md-4.text-center
                            .product(style = "background-image: url(../images/products/frostedfilm.jpg)")
                                .wrapper
                                    .content
                                        .name <strong>FROSTED FILMS</strong>
                                        p.desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        .btn(onclick="openModal();currentSlide(1)") View Portfolio
                        .col-xs-6.col-md-4.text-center
                            .product(style = "background-image: url(../images/products/led.jpg)")
                                .wrapper
                                    .content
                                        .name <strong>LED SIGNS</strong>
                                        p.desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        .btn(onclick="openModal();currentSlide(1)") View Portfolio

                    .row.row2
                        .col-xs-6.col-md-4.text-center
                            .product(style = "background-image: url(../images/products/wallwasher.jpg)" )
                                .wrapper
                                    .content
                                        .name <strong>LED WALL WASHERS</strong>
                                        p.desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        .btn(onclick="openModal();currentSlide(1)") View Portfolio
                        .col-xs-6.col-md-4.text-center
                            .product(style = "background-image: url(../images/products/directory.jpg)")
                                .wrapper
                                    .content
                                        .name <strong>INFORMATION DIRECTORY</strong>
                                        p.desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        .btn(onclick="openModal();currentSlide(1)") View Portfolio
                        .col-xs-6.col-md-4.text-center
                            .product(style = "background-image: url(../images/products/neon.jpg)")
                                .wrapper
                                    .content
                                        .name <strong>NEON SIGNS</strong>
                                        p.desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        .btn(onclick="openModal();currentSlide(1)") View Portfolio
                    .row.row3
                        .col-xs-6.col-md-4.text-center
                            .product(style = "background-image: url(../images/products/nameplate.jpg)" )
                                .wrapper
                                    .content
                                        .name <strong>NAMEPLATES</strong>
                                        p.desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        .btn(onclick="openModal();currentSlide(1)") View Portfolio
                        .col-xs-6.col-md-4.text-center
                            .product(style = "background-image: url(../images/products/metal.jpg)")
                                .wrapper
                                    .content
                                        .name <strong>METAL SIGNS</strong>
                                        p.desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        .btn(onclick="openModal();currentSlide(1)") View Portfolio
                        .col-xs-6.col-md-4.text-center
                            .product(style = "background-image: url(../images/products/reception.jpg)" )
                                .wrapper
                                    .content
                                        .name <strong>RECEPTION SIGNAGES</strong>
                                        p.desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        .btn(onclick="openModal();currentSlide(1)") View Portfolio
                    .row.row4
                        .col-xs-6.col-md-4.text-center
                            .product(style = "background-image: url(../images/products/nameplate.jpg)" )
                                .wrapper
                                    .content
                                        .name <strong>NAMEPLATES</strong>
                                        p.desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        .btn(onclick="openModal();currentSlide(1)") View Portfolio
                        .col-xs-6.col-md-4.text-center
                            .product(style = "background-image: url(../images/products/metal.jpg)")
                                .wrapper
                                    .content
                                        .name <strong>METAL SIGNS</strong>
                                        p.desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        .btn(onclick="openModal();currentSlide(1)") View Portfolio
                        .col-xs-6.col-md-4.text-center
                            .product(style = "background-image: url(../images/products/reception.jpg)" )
                                .wrapper
                                    .content
                                        .name <strong>RECEPTION SIGNAGES</strong>
                                        p.desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        .btn(onclick="openModal();currentSlide(1)") View Portfolio
