section#services.stretch
  .city-skyline
  .hoarding-left
    .content
      video(autoplay, loop, muted, poster="../images/poster.jpg")
          source(src="../images/sebastian.mp4" type="video/mp4")
          source(src="../images/sebastian.webm" type="video/ogg")
      
  .hoarding-right
    .content
      .carousel.slide(data-ride = "carousel" id = "services-carousel" data-interval = "4000" data-pause = "null")
        .carousel-inner(role="listbox")
          .item.active
            .row
              #service1.col-xs-6.text-center.service(style = "background-image: url(../images/services1.png)")
              .col-xs-6.text  
                h2 Site Investigation & <br/>Visualization 
                  
                h4 Lorem ipsum dolor sit amet, at mazim impedit usu. Cum ad elitr democritum definitionem, qui semper tincidunt deterruisset in, usu cibo nostrud accusamus ei. Molestie gubergren ea est, qui ex semper argumentum. Eum ne novum nobis mnesarchum. Diceret maluisset reformidans sea ei.
                h4 No erroribus repudiare efficiantur sea. Cu idque menandri eam. Qui feugait similique repudiandae eu, eu tollit primis mandamus vel. Hinc nemore similique cu eos, at salutandi ocurreret vis. Alia fastidii ius no, his nihil sanctus facilisis in.
          .item
            .row
              #service2.col-xs-6.text-center.service(style = "background-image: url(../images/services2.png)")
              .col-xs-6.text  
                h2 Design Translation & <br/>Signage Conceptualization
                   
                h4 Lorem ipsum dolor sit amet, at mazim impedit usu. Cum ad elitr democritum definitionem, qui semper tincidunt deterruisset in, usu cibo nostrud accusamus ei. Molestie gubergren ea est, qui ex semper argumentum. Eum ne novum nobis mnesarchum. Diceret maluisset reformidans sea ei.
                h4 No erroribus repudiare efficiantur sea. Cu idque menandri eam. Qui feugait similique repudiandae eu, eu tollit primis mandamus vel. Hinc nemore similique cu eos, at salutandi ocurreret vis. Alia fastidii ius no, his nihil sanctus facilisis in.
          .item
            .row
                #service3.col-xs-6.text-center.service(style = "background-image: url(../images/services3.png)")
                .col-xs-6.text  
                  h2 Prototyping & <br/>Approvals    
                     
                  h4 Lorem ipsum dolor sit amet, at mazim impedit usu. Cum ad elitr democritum definitionem, qui semper tincidunt deterruisset in, usu cibo nostrud accusamus ei. Molestie gubergren ea est, qui ex semper argumentum. Eum ne novum nobis mnesarchum. Diceret maluisset reformidans sea ei.
                  h4 No erroribus repudiare efficiantur sea. Cu idque menandri eam. Qui feugait similique repudiandae eu, eu tollit primis mandamus vel. Hinc nemore similique cu eos, at salutandi ocurreret vis. Alia fastidii ius no, his nihil sanctus facilisis in.       
          .item
            .row
                #service4.col-xs-6.text-center.service(style = "background-image: url(../images/services4.png)")
                .col-xs-6.text  
                  h2 World Class <br/>Development
                     
                  h4 Lorem ipsum dolor sit amet, at mazim impedit usu. Cum ad elitr democritum definitionem, qui semper tincidunt deterruisset in, usu cibo nostrud accusamus ei. Molestie gubergren ea est, qui ex semper argumentum. Eum ne novum nobis mnesarchum. Diceret maluisset reformidans sea ei.
                  h4 No erroribus repudiare efficiantur sea. Cu idque menandri eam. Qui feugait similique repudiandae eu, eu tollit primis mandamus vel. Hinc nemore similique cu eos, at salutandi ocurreret vis. Alia fastidii ius no, his nihil sanctus facilisis in.
          .item
            .row
                #service5.col-xs-6.text-center.service(style = "background-image: url(../images/services5.png)")
                .col-xs-6.text  
                  h2 Installation <br/>All-over India  
                     
                  h4 Lorem ipsum dolor sit amet, at mazim impedit usu. Cum ad elitr democritum definitionem, qui semper tincidunt deterruisset in, usu cibo nostrud accusamus ei. Molestie gubergren ea est, qui ex semper argumentum. Eum ne novum nobis mnesarchum. Diceret maluisset reformidans sea ei.
                  h4 No erroribus repudiare efficiantur sea. Cu idque menandri eam. Qui feugait similique repudiandae eu, eu tollit primis mandamus vel. Hinc nemore similique cu eos, at salutandi ocurreret vis. Alia fastidii ius no, his nihil sanctus facilisis in.
  .container
    .section-header Services
    